h2 {
  text-align: center;
  margin: 2rem 0;
}

.payments-container {
  background-color: rgb(231, 231, 231);
  width: 99%;
  max-width: 600px;
  margin: auto;
  padding: 1.5rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .current-methods {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        list-style-type: none;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .payment-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.2rem;
  }
  .payment-divider {
    height: 1px;
    width: 100%;
    background-color: #00000050;
  }
  .add-payment-method {
    background-color: rgb(201, 201, 201);
    padding: 1rem;
    border-radius: 20px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  label {
    font-size: 1.2rem;
    color: #efefef;
    width: 80%;
    max-width: 600px;

    input {
      width: 100%;
      padding: 1rem 2rem;
      margin: 0.5rem auto;
      border-radius: 5px;
    }
  }
}

.warn {
  padding: 1rem 2rem;
  border: 2px solid #ff1212;
  border-radius: 15px;
  background-color: #ff00002d;
  color: #ff2121;
  font-size: 1.2rem;
}

.cancel-button {
  background-color: var(--secondary);
  color: black;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
  &:hover {
    background-color: #ff9090;
  }
}

.submit-button {
  background-color: var(--accent);
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
  &:hover {
    background-color: var(--primary);
    scale: inherit;
  }
}
.close-button {
  position: absolute;
  top: 5rem;
  right: 2rem;
  padding: 1rem;
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
  &:hover {
    color: #ff9090;
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    label {
      font-size: 1.5rem;
    }
  }
}
