h2 {
  text-align: center;
  margin: 2rem 0;
}

.payments-container {
  background-color: rgb(231, 231, 231);
  width: 99%;
  max-width: 600px;
  margin: auto;
  padding: 1.5rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .current-methods {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        list-style-type: none;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .payment-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.2rem;
  }
  .payment-divider {
    height: 1px;
    width: 100%;
    background-color: #00000050;
  }
  .add-payment-method {
    background-color: rgb(201, 201, 201);
    padding: 1rem;
    border-radius: 20px;
  }
}
