.main-of-section {
  padding: 93px 100px;
  position: relative;
}
.main-img {
  position: absolute;
  width: 450px;
  right: 100px;
  top: 100px;
}

.main-of-section .big-title {
  font-family: "Abhaya Libre", serif;
  font-size: 64px;
}
.home-first-section {
  background-color: var(--input-backgrand);
}

.home-first-section p {
  max-width: 500px;
  color: var(--paragraph);
}
.shop-btn {
  color: var(--secondary);
  text-decoration: none;
  background-color: var(--text);
  line-height: 52px;
  width: 210px;
  border-radius: 26px;
  display: block;
  text-align: center;
  margin-top: 41px;
  margin-bottom: 48px;
}
.number-box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 10px;
}
.number-box h1 {
  font-size: 40px;
}

.number-box div:nth-of-type(2) {
  /* padding-inline: 32px; */
  border-inline: 1px solid rgba(0, 0, 0, 0.103);
}

.home-first-section ul {
  background-color: var(--text);
  color: var(--secondary);
  display: flex;
  flex-wrap: wrap;
  height: 122px;
  justify-content: space-between;
  align-items: center;
  padding-inline: 100px;
}

@media screen and (max-width: 1025px) {
  /* desk */
  .main-of-section {
    padding-inline: 50px;
  }
  .home-first-section ul{
    padding-inline: 50px;
  }
}
@media screen and (max-width: 601px) {
  /* tablet */
  .main-of-section {
    padding-inline: 30px;
  }
  .home-first-section ul{
    padding-inline: 30px;
  }
  .main-img{
    position: static;
    
  }
}
@media screen and (max-width: 360px) {
  /* mobile */
  .main-of-section {
    padding-inline: 10px;
  }
  .home-first-section ul{
    padding-inline: 10px;
  }
  .main-img{
    position: static;

  }
}
