.quantity-input {
  display: flex;
  width: 30%;

  button {
    border: none;
    background-color: var(--secondary);
    font-size: 1.5em;
    cursor: pointer;
    width: 3em;
  }

  button:first-child {
    border-top-left-radius: 62px;
    border-bottom-left-radius: 62px;
  }

  button:last-child {
    border-top-right-radius: 62px;
    border-bottom-right-radius: 62px;
  }

  input {
    width: 100%;
    padding: 0.5em;
    text-align: center;
    border: none;
    background-color: var(--secondary);
    font-size: 1.25em;
  }

  /* Hide arrows */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
