.navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(222, 222, 234);
    width: 100%;
    padding: 16px;
}

.navbar-title {
    text-align: center;
    font-size: 2x1;
    font-weight: bold;

}

.navbar-link {
    text-decoration: none;
    color: rgb(52, 55, 59);
    margin-left: 16px;
}