.product-item {
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
}
.img {
  background-color: var(--input-backgrand);
  padding: 30px;
  width: 300px;
  border-radius: 20px;
}
.product-item p,
h3 {
  margin-top: 7px;
}
