@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Roboto&family=Satisfy&display=swap");

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 100px;
  z-index: 99;
}
header .logo {
  font-family: "Abhaya Libre", serif;
  color: var(--text);
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

header .nav-item {
  color: var(--text);
  text-decoration: none;
}
header ul {
  display: flex;
  column-gap: 30px;
}
header input {
  all: unset;
  padding: 12px 16px 12px 0px;
  border-radius: 0px 20px 20px 0px;
  border: none;
  background-color: var(--input-backgrand);
  width: 80%;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}
.search-box button {
  all: unset;
  background-color: var(--input-backgrand);
  padding: 7px 16px;
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
 
}
.nav-cart-count{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  margin-left: -30px;
  border-radius: 11px;
  font-size: 14px;
  font-weight: 700;
  background-color: red;
  color: var(--input-backgrand);
  }


@media screen and (max-width: 1025px) {
  /* desk */
  header {
    padding-inline: 50px;
  }

  header ul {
    position: absolute;
    flex-direction: column;
    left: -250px;
    top: 70px;
    padding: 20px 20px 20px 100px;
    row-gap: 15px;
    transition: left 200ms ease-in-out;
    /* background-color: var(--text); */
  }
  header .nav-item {
    color: rgb(0, 0, 0);
  }
  .navbar {
    order: -1;
  }
  .navbar p {
    display: inline-block;
  }
  .navbar:hover ul {
    left: 0px;
  }
  .navbar p {
    padding: 15px;
  }
}
@media screen and (max-width: 601px) {
  /* tablet */
  header {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 360px) {
  /* mobile */
  header {
    padding-inline: 10px;
  }
}
