* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Roboto", sans-serif;
  position: relative;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.2rem;
    max-width: 1400px;
    margin: auto;
  }
}
