:root {
  --text: #09110e;
  --input-background: #f0f0f0;
  --background: #eeeeee;
  --primary: #2e564a;
  --secondary: #d7eae4;
  --accent: #569f88;
  --paragraph: rgba(0, 0, 0, 0.603);
}

.darkmode {
  --text: #eef6f3;
  --background: #0c1713;
  --primary: #a9d1c5;
  --secondary: #152822;
  --accent: #60a992;
}

.hidden {
  display: none;
}
