.chat-help-container {
  background-color: var(--primary);
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  .modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-color: var(--accent);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: var(--text);
    }
  }
}
