.nav {
    background-color: #569f88;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.heading {
    color: #eef6f3;
    font-size: 24px;
}

.createButton {
    background-color: #eef6f3;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .createButton:hover {
    background-color: #d7eae4;
  }
  
  .icon {
    margin-left: 30px;
    padding-left: 20px;
  }

  