footer {
  background-color: var(--accent);
  color: var(--background);
  text-align: center;
  width: 100%;
  padding: 2rem;
  font-weight: 400;
  letter-spacing: 0.5px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  bottom: 0;
  .footer-divider {
    width: 80%;
    height: 1px;
    background-color: #ffffff77;
    margin: 2rem 0;
  }
  .footer-logos-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
    .social-media-logos {
      display: flex;
      align-items: center;
      gap: 1rem;
      svg {
        font-size: 1.8rem;
        color: var(--background);
      }
    }
    .payment-logos {
      display: flex;
      align-items: center;
      gap: 1rem;
      svg {
        font-size: 2rem;
        color: var(--background);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 2rem 0;
    flex-direction: row;
    .footer-logos-container {
      flex-direction: row;
    }
    .footer-divider {
      display: none;
    }
  }
}
