footer {
  background-color: var(--input-backgrand);
  position: relative;
  margin-top: 300px;
  padding-top: 140px;
  padding-bottom: 88px;
  padding-inline: 100px;
}
.information {
  display: flex;
  justify-content: space-between;
}
footer p {
  color: var(--paragraph);
}
.info-box1 p {
  width: 250px;
  margin-block: 25px;
}
footer h3 {
  margin-bottom: 25px;
  line-height: 33px;
}
.info-box2 p {
  line-height: 29px;
}
.links img {
  margin-right: 15px;
}
.newsletter {
  position: absolute;
  background-color: var(--text);
  color: white;
  top: 0;
  transform: translateY(-50%);
  right: 100px;
  left: 100px;
  display: flex;
  padding: 43px 64px;
  border-radius: 20px;
  justify-content: space-between;
}
.newsletter h1 {
  max-width: 550px;
  font-size: 40px;
}
.newsletter input {
  width: 100%;
  line-height: 48px;
  border-radius: 24px;
  padding-inline: 14px;
  border: none;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  width: 40%;
}
.last-footer-section {
  border-top: 1px solid rgba(0, 0, 0, 0.103);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-top: 50px;
}
