footer {
  background-color: var(--input-backgrand);
  position: relative;
  margin-top: 150px;
  padding-top: 140px;
  padding-bottom: 88px;
  padding-inline: 100px;
}
.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer p {
  color: var(--paragraph);
}
.info-box1 p {
  width: 250px;
  margin-block: 25px;
}
footer h3 {
  margin-bottom: 25px;
  line-height: 33px;
}
.info-box2 p {
  line-height: 29px;
}
.links img {
  margin-right: 15px;
}
.newsletter {
  position: absolute;
  background-color: var(--text);
  color: white;
  top: 0;
  transform: translateY(-50%);
  right: 100px;
  left: 100px;
  display: flex;
  padding: 43px 64px;
  border-radius: 20px;
  justify-content: space-between;
}
.newsletter h1 {
  max-width: 550px;
  font-size: 36px;
}
.newsletter input {
  width: 100%;
  line-height: 48px;
  border-radius: 24px;
  padding-inline: 14px;
  border: none;
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 14px;
  width: 40%;
}
.last-footer-section {
  border-top: 1px solid rgba(0, 0, 0, 0.103);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;Bleiben Sie über unsere neuesten Angebote auf dem Laufenden
  footer {
    padding-inline: 50px;
  }
}

@media screen and (max-width: 601px) {
  /* tablet */
  footer {
    padding-inline: 30px;
  }
  .info-box1{
    width: 100%;
  }
  .newsletter{
    flex-direction: column;
    padding: 20px;
    left: 30px;
    right: 30px;
    row-gap: 20px;
  }
  form {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  /* mobile */
  footer{
    padding-inline: 30px;
  }
  .information{
    column-gap: 10px;
  }
  .info-box1{
    width: 100%;
  }
  .info-box2{
    width: 45%;
  }
  .newsletter{
    flex-direction: column;
    padding: 20px;
    left: 30px;
    right: 30px;
    row-gap: 20px;
  }
 form {
    width: 100%;
  }
}
