.signin-container {
  background-color: #e0ebda;
  text-align: center;
  padding: 8px;
  margin: auto;
}

.login-form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 100%;
}

.signin-title {
  /* font-weight: bold; */
  padding: 8px;
  margin-bottom: 8px;
}

.signin-content {
  /* background-color: #f2f2f2; */

  background: linear-gradient(to right, #e8eceba2, #dee9e4a2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

  max-width: 245px;
  margin: auto;
  padding: 4px;
  border-radius: 5px;
}

.login-btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
}

.login-btn:hover {
  opacity: 1;
  background-color: #45a049;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.register-link {
  text-decoration: none;
  color: #4c5baf;
  font-weight: bold;
  font-size: 8px;
}

.register-div {
  margin-top: 10px;
  font-weight: bold;
  line-height: 10px;
}

.register-link {
  color: #0e381b;
  font-size: 10px;
  text-decoration: none;
}

.register-link:hover {
  color: #0b2714cb;
  font-weight: bold;
  line-height: 10px;
}
