.cart-container {
  margin: 2em;
  h1 {
    margin: 1em 0;
  }
  .cart-overview {
    max-width: 1500px;
    margin: 0 auto;
    .cart-items,
    .order-summary {
      border: 1px solid var(--accent);
      border-radius: 1em;
      padding: 2em 1em;
    }
    .cart-items {
      margin-bottom: 2em;
      .cart-item {
        display: flex;
        gap: 2em;
        padding: 1em 0;
        border-bottom: 1px solid var(--accent);
        .cart-item-image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 300px;
          height: 200px;
          /* width: 100%; */
          /* height: 100%; */
          object-fit: cover;
          /* border: 1px solid var(--accent); */
          position: relative;
        }
        .product-image {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 1em;
          /* width: 200px;
          height: 200px; */
          object-fit: cover;
          border-radius: 0.5em;

          /* border: 1px solid var(--accent); */
        }
        .cart-item-details {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          .remove-btn-row {
            display: flex;
            justify-content: space-between;
            .remove-btn {
              background-color: transparent;
              width: 2em;
              height: 2em;
              cursor: pointer;
              border: none;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .cart-row {
            display: flex;
            gap: 0.25em;
            color: var(--paragraph);
          }
          .price-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .quantity-input {
              button {
                border: none;
                background-color: var(--input-background);
                cursor: pointer;
                width: 2em;
              }
              input {
                width: 100%;
                background-color: var(--input-background);
                padding: 0.25em;
                font-size: 1em;
              }
            }
          }
          .product-name {
            font-size: 1.15em;
            font-weight: bold;
            margin: 0.5em 0 1em 0;
          }
          .product-price {
            font-size: 1.15em;
            font-weight: bold;
          }
        }
      }
      .cart-item:last-child {
        border-bottom: none;
        padding-bottom: 1em;
      }

      /* dont change this css placement */
      .cart-item img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
    .order-summary {
      display: flex;
      flex-direction: column;
      gap: 1em;
      .summary-row,
      .total-row {
        display: flex;
        justify-content: space-between;
      }
      .total-row {
        padding-top: 1em;
        border-top: 1px solid var(--accent);
      }
      .value {
        font-weight: bold;
      }
      .discount {
        color: red;
      }
      .sum {
        font-size: 1.25em;
      }
      button {
        border-radius: 3.875rem;
        border: none;
        outline: none;
        padding: 0.5em 1em;
        background-color: var(--accent);
        color: var(--background);
        cursor: pointer;
        &:hover {
          background-color: var(--secondary);
          color: var(--primary);
        }
      }
      .promo-input {
        display: flex;
        justify-content: space-between;
        gap: 1em;
        input {
          outline: none;
          padding: 0.5em;
          border: 1px solid var(--accent);
          border-radius: 0.5em;
          width: 70%;
        }
        button {
          width: 30%;
        }
      }
      .checkout-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.15em;
        margin-top: 0.5em;
        svg {
          width: 1.5em;
          height: 1.5em;
          margin-left: 0.5em;
        }
        &:hover {
          .arrow-path {
            stroke: var(--primary);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .cart-container {
    .cart-overview {
      display: flex;
      gap: 2em;
      .cart-items {
        width: 65%;
      }
    }
    .order-summary {
      width: 35%;
      height: fit-content;
      .checkout-btn {
        width: 100%;
      }
    }
  }
}
