a {
  text-decoration: none;
  color: var(--text);

  &:hover {
    color: var(--primary);
  }
}

.cart-container {
  display: flex;
  flex-direction: column;
  margin: 2em;

  h2 {
    margin: 1em 0;
    text-align: left;
  }

  .cart-overview {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .cart-items,
    .order-summary {
      border: 1px solid var(--accent);
      border-radius: 1em;
      padding: 2em 1em;
    }

    .cart-items {
      display: flex;
      flex-direction: column;

      .cart-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 2em;
        padding: 1em 0;
        border-bottom: 1px solid var(--accent);

        .cart-item-image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 300px;
          height: 200px;
          object-fit: cover;
          position: relative;

          .product-image {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 1em;
            object-fit: cover;
            border-radius: 0.5em;
          }
        }

        .cart-item-details {
          display: flex;
          flex-direction: column;
          gap: 0.25em;

          .remove-btn-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5em;

            .name-block {
              display: flex;
              align-items: center;
              gap: 0.5em;
            }

            .product-name {
              font-size: 1.15em;
            }
            .sale-text {
              align-self: center;
              margin-left: 0.25em;
              background: tomato;
              padding: 0.35em;
              font-size: 0.75em;
              border-radius: 0.5em;
              color: white;
              font-weight: normal;
            }

            .remove-btn {
              background-color: transparent;
              border: none;
              cursor: pointer;
              border-radius: 50%;
              width: 3em;
              height: 3em;
              padding: 0.5em;

              &:hover {
                background-color: var(--secondary);
              }

              .delete-icon {
                width: 100%;
                height: 100%;
              }
            }
          }

          .cart-row {
            display: flex;
            gap: 0.25em;
            color: var(--paragraph);
            padding-bottom: 0.5em;
          }

          .price-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .product-price {
              font-size: 1.15em;
              font-weight: bold;
            }

            .sale-price {
              color: red;
            }

            .quantity-input {
              button {
                border: none;
                background-color: var(--secondary);
                cursor: pointer;
                width: 5em;
              }
              input {
                width: 100%;
                background-color: var(--secondary);
                padding: 0.25em;
                font-size: 1em;
              }
            }
          }
        }
      }

      .cart-item:last-child {
        border-bottom: none;
        padding-bottom: 1em;
      }

      /* dont change this css placement */
      /* importent */
      .cart-item img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }

    .order-summary {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .summary-row,
      .total-row {
        display: flex;
        justify-content: space-between;
      }

      .total-row {
        padding-top: 1em;
        border-top: 1px solid var(--accent);
      }

      .discount {
        color: red;
      }

      .sum {
        font-size: 1.25em;
        font-weight: bold;
      }

      button {
        border-radius: 3.875rem;
        border: none;
        outline: none;
        padding: 0.5em 1em;
        background-color: var(--accent);
        color: var(--background);
        cursor: pointer;
        &:hover {
          background-color: var(--secondary);
          color: var(--primary);
        }
      }

      .promo {
        display: flex;
        flex-direction: column;

        .promo-input {
          display: flex;
          justify-content: space-between;
          gap: 1em;

          input {
            outline: none;
            padding: 0.5em;
            border: 1px solid var(--accent);
            border-radius: 0.5em;
            width: 70%;
          }

          button {
            width: 30%;
          }
        }

        .promo-message {
          margin-top: 0.25em;
          font-size: 0.85em;
          color: var(--primary);
        }
      }

      .checkout-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.15em;
        margin-top: 0.5em;

        svg {
          width: 1.5em;
          height: 1.5em;
          margin-left: 0.5em;
        }

        &:hover {
          .arrow-path {
            stroke: var(--primary);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 984px) {
  .cart-container {
    .cart-overview {
      flex-direction: row;

      .cart-items {
        width: 65%;
      }

      .order-summary {
        margin-top: 1.85em;
        width: 35%;
        height: fit-content;

        .checkout-btn {
          width: 100%;
        }
      }
    }
  }
}
