.navbar-height-spacer {
  height: 60px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: -30px;
  z-index: 100;

  .navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--secondary);
    color: var(--background);
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 1px 1px 8px #00000077;

    position: relative;
    .navbar-height-placeholder {
      height: 60px;
    }
    .nav-left {
      .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: var(--accent);
        font-size: 1.5rem;
        font-weight: 700;
      }
      .navmenu-button-container {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--accent);
        padding: 0.5rem 1rem;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        z-index: 100;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .nav-center {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;

    .pc-nav {
      position: absolute;
      left: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        color: var(--accent);
        font-size: 1.2rem;
        padding: 0.5rem;
        transition: all 0.3s ease;
        border-radius: 5px;
        &:hover {
          color: var(--background);
          background-color: var(--accent);
        }
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    .search-bar {
      display: none;
      align-items: center;
      justify-content: center;
      gap: rem;
      background-color: var(--background);
      border-radius: 5px;
      input {
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        background-color: transparent;
      }
      a {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        background-color: var(--accent);
        color: var(--background);
        cursor: pointer;
        outline: none;
      }
    }

    .user-icons {
      display: flex;
      align-items: center;
      gap: 1rem;
      a {
        font-size: 1.5rem;
        color: var(--accent);
        cursor: pointer;
        svg {
          display: flex;
        }
      }

      .cart-icon {
        position: relative;

        .cart-item-count {
          position: absolute;
          top: -13px;
          right: -15px;
          border-radius: 50%;
          font-size: 1rem;
          background-color: var(--background);
          color: var(--accent);
          padding: 0.1em 0.3em;
        }
      }
    }
  }
}

.mobile-nav {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2rem;

  .search-bar {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    background-color: var(--background);
    min-width: 80%;

    input {
      padding: 1rem 2rem;
      border: none;
      outline: none;
      background-color: transparent;
      flex: 1;
    }
    .search-button {
      padding: 1rem 2rem;
      border: none;
      border-radius: 10px;
      background-color: var(--accent);
      color: var(--background);
      cursor: pointer;
      outline: none;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 3rem;
    svg {
      font-size: 2rem;
    }
  }
}
.menu-bars-button {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-x-button {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  header {
    .navbar {
      padding: 1rem 5rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .nav-left {
        .navmenu-button-container {
          display: none;
        }
      }
      .nav-right {
        .search-bar {
          display: flex;
        }
      }
      .nav-center {
        display: flex;
      }
      .mobile-nav {
        display: none;
      }
    }
  }
}
