.brands-bar {
  background-color: var(--secondary);
  margin: 0 auto;
  img {
    width: 100px;
    height: 50px;
    margin: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .brands-bar {
    img {
      width: 150px;
      height: 100px;
      margin: 10px;
    }
  }
}
